.contentGrupEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 2em;
    flex-wrap: wrap;
    flex-direction: column;
}

.editable-form select{
    height: 40px;
    width: 200px;
    border: none;
    padding-left: 1em;
    background-color: #e4dfdf;
    border-radius: 15px;
    margin-top: .5em;
    margin-bottom: .5em;
    flex-wrap: wrap;
}

.grupoSelect{
    text-align: center;
}

.editable-form p{
    text-align: center;
}

.btnEditGrup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-direction: column;
}

.btnEditGrup p{
    color: #1b00b1;
    font-size: 12px;
    margin-top: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.btnEditGrup button{
    width: 200px;
    height: 45px;
    background-color: transparent;
    border: #1b00b1 2px solid;
    color: #1b00b1;
    cursor: pointer;
}

.newGrup-Data{
    background-color: rgba(124, 174, 246, 0.5);
    border-radius: 15px;
    padding: 1em;
}

.newGrup{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
}

.newGrup-Data h2{
    font-size: 18px;
    color: #1b00b1;
}

.addGrup-content{
    align-items: center;
    justify-content: center;
}

.content-form{
    text-align: center;
    margin: 1em 0;
}

.content-form select{
    text-align: center;
}

.datosSelect select{
    text-align: center;
}

.content-form input, .asignado{
    height: 40px;
    width: 200px;
    border: none;
    padding-left: 1em;
    background-color: #e4dfdf;
    border-radius: 15px;
    margin-top: 1em;
    margin-bottom: .5em;
    text-align: center;
}

.table-classes h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 20px;
    color: #1b00b1;
}

.table-classes table{
    width: 100%; 
    border-collapse: collapse;
    margin: auto;
}

.table-classes th, .table-classes td {
    text-align: center;
    padding: 10px 15px;
    border: white 3px solid;
    width: 500px;
}

.idTd{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

.table-classes thead {
    color: white;
    background-color: #47cc4c;
}

.table-classes tbody {
    color: black;
    background-color: #b5f0b7;
}

.content-viewGrup{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5em;
}

.movContentViewGrup{
    margin-top: 2em;
}

.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.movContentViewGrup h2{
    color: #1b00b1;
    font-size: 18px;
}

.table-classes .iconsT{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: auto;
}

.table-classes .iconsT img{
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-70%);
    
}

.table-desktop tr th{
    width: 300px;
}

.table-wrapper {
    margin-bottom: 1em; /* Espacio entre tablas */
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    padding: 5px;
    border-top: 1px solid #ccc;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination button[disabled] {
    background-color: #f1f1f1;
    color: #888;
    cursor: not-allowed;
}